<div class="container">
    <div class="row form-row">
        <div class="col-lg-6 col-md-8 col-sm-12" 
        [ngClass]="{
            'text-center': deviceWidth < 992, 
            'offset-lg-3 offset-md-2': deviceWidth < 992 && deviceWidth > 767,
            'col-md-12': deviceWidth < 768
        }">
            <h1 class="bold heading">Welcome to Questio!</h1>
            <p class="grey subtitle">Thousands of questions at your fingertips...</p>

            <app-login-form></app-login-form>
        </div>
        <div class="col-lg-6 text-right" *ngIf="deviceWidth > 991">
            <!-- <img class="hero-img" src="../../assets/questionsRafiki.svg" alt="Image of a man handling questions"> -->
            <img class="hero-img" src="../../assets/questions.jpg" alt="Image of a man handling questions">
        </div>
    </div>
</div>
