<form [formGroup] = "loginForm" class="login-form" (ngSubmit) = "onSubmit()">

    <mat-label class="mt-2">Email <span class="red">*</span></mat-label>
    <mat-form-field appearance="outline" class="full-width">
        <span matPrefix aria-hidden="true">
            <mat-icon class="grey">mail_outline</mat-icon>
        </span>
        <input matInput type="email" placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf = "loginForm.controls.email.invalid">
            Please enter a valid email
        </mat-error>
    </mat-form-field>

    <mat-label class="mt-2">Password <span class="red">*</span></mat-label>
    <mat-form-field appearance="outline" class="full-width">
        <span matPrefix aria-hidden="true">
            <mat-icon class="grey">lock_outline</mat-icon>
        </span>
        <input matInput [type] = "hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password" required>
        <button mat-icon-button matSuffix type="button" (click) = "hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf = "loginForm.controls.password.invalid && loginForm.controls.password.errors?.minlength">
            Password should be of atleast 8 characters
        </mat-error>
        <mat-error *ngIf = "loginForm.controls.password.invalid && !loginForm.controls.password.errors?.minlength">
            Please enter a password
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting" class="full-width mt-2">
        <mat-spinner diameter="20" *ngIf="isSubmitting"></mat-spinner>
        Sign In
    </button>

</form>
