
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: (
  Main: #0508d4,
  Light: #663fff,
  Dark: #0000a1,
  contrast: (
    Main: #ffffff,
    Light: #ffffff,
    Dark: #ffffff
  )
);

$accent: (
  Main: #FF9100,
  Light: #FFC246,
  Dark: #c56200,
  contrast: (
    Main: #000206,
    Light: #000206,
    Dark: #000206
  )
);

$questio-primary: mat.define-palette($primary, Main, Light, Dark);
$questio-accent: mat.define-palette($accent, Main, Light, Dark);

// The warn palette is optional (defaults to red).
$questio-warn: mat.define-palette(mat.$red-palette);

$typography: mat.define-typography-config(
  $font-family: 'Poppins'
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$questio-theme: mat.define-light-theme((
  typography: $typography,
  color: (
    primary: $questio-primary,
    accent: $questio-accent,
    warn: $questio-warn,
  )
));
@include mat.core($typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($questio-theme);

