/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #0508d4;
    --primaryDark: #0000a1;
    --accent: #FF9100;
    --warn: red;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Poppins', "Helvetica Neue", Roboto, sans-serif; 
    background: #fefefe;
}

.primary {
    color: var(--primary);
}

.primary-dark {
    color: var(--primaryDark);
}

.dark-blue {
    color: #2a334b;
}

.accent {
    color: var(--accent);
}

.grey {
    color: grey;
}

.dark-grey {
    color: rgba(0,0,0,.67) !important;
}

.bold {
    font-weight: 700 !important;
}

.full-width {
    width: 100%;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 2rem !important;
}

.text-right {
    text-align: right;
}

.helper-text .helper-btn {
    font-size: 0.8rem;
}

.helper-btn {
    padding-left: 0.2rem !important;
    padding-right: 0 !important;
}

.red {
    color: var(--warn);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-grab {
    cursor: grab;
}

mat-spinner {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
}

.hidden-input {
    visibility: hidden;
    width: 0.1px;
}

/* .mat-form-field-appearance-outline .mat-form-field-outline {
    color: grey;
} */

::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}